log-file = log/forwarding.log

action = forwarding

source-type = sequence
target-type = sequence
batch-size = 1

[features.feature-reader]
feature-cache = features/test.frames
preprocessors = subtract-mean
buffer-size   = 1

[subtract-mean]
type = vector-subtraction
vector = imagenet/mean.vector.gz

[forwarder]
task = dump-output

[features.feature-writer]
feature-cache = test.dump

include config/network.config

neural-network.layer-6.dropout-probability = 0.0
neural-network.layer-7.dropout-probability = 0.0

