log-file = log/training.log

action = training

source-type = single
target-type = single
batch-size = 55

[features.aligned-feature-reader]
feature-cache = features/train.frames
target-cache = features/train.labels
shuffle-buffer = true
buffer-size = 10000
preprocessors = subtract-mean

[subtract-mean]
type = vector-subtraction
vector = imagenet/mean.vector.gz

[*]
trainer = feed-forward-trainer
training-criterion = cross-entropy

[trainer]
task = classification
number-of-epochs = 5
save-frequency = 0

[*]
weight-initialization = zero
bias-initialization = zero

regularizer = l2-regularizer
regularization-constant = 0.0005

[estimator]
method = steepest-descent
use-momentum = true
momentum = 0.9

[learning-rate-schedule]
method = step
initial-learning-rate = 0.001
reduce-after-iterations = 300
reduction-factor = 0.1

include config/network.config

neural-network.write-model-to = results
neural-network.load-model-from = imagenet
