action = dense-trajectories
dense-trajectory.video-list = ./videolist.txt
dense-trajectory.task = calFisherVectors

dense-trajectory.pca-result-path = /home/ahsan/temp/pca/

gmm.model-file = /home/ahsan/temp/gmm/gmm_model

#features.feature-writer.feature-cache = /home/ahsan/temp/trajectories_train_features/traj.txt 
#features.feature-writer.feature-cache = /home/ahsan/temp/trajectories_train_features/traj_pca.txt
#features.feature-reader.feature-cache = /home/ahsan/temp/trajectories_train_features/traj.txt 
features.feature-reader.feature-cache = /home/ahsan/temp/trajectories_train_features/traj_pca.txt
features.feature-writer.feature-cache = /home/ahsan/temp/trajectories_train_features/fv.txt 

#features.feature-reader.preprocessors = subtract-mean, divide-stddev
#subtract-mean.type = vector-subtraction
#subtract-mean.vector = /home/ahsan/temp/norm/mean.vector.gz
#divide-stddev.type = vector-division
#divide-stddev.vector = /home/ahsan/temp/norm/variance.vector.gz

