action = svm-classify

[features.labeled-feature-reader]
feature-cache = ../../experiments/stip/results/train.stip.gz
label-cache   = ../../experiments/stip/train.labels

[kmeans]
number-of-clusters   = 2000
model-file           = ../../experiments/stip/results/clusters.matrix.gz

[svm]
feature-quantization = bag-of-words
svm-directory        = ../../experiments/stip/results
